.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.header button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #8a2b06;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }

  .header button {
    cursor: pointer;
    font: inherit;
    font-size: .75rem;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 15px;
    margin-top: .3rem;
  }

  .header h1 {
    font-size: 1.75rem; 
    margin-top: 0.2rem;
    margin-bottom: 0;   
  }
  }

  @media screen and (min-width: 1200px) {
    .main-image {
      height: 30rem;
    }

  }   

  @media screen and (min-width: 1430px) {
    .main-image {
      height: 35rem;
    }

  }   

  @media screen and (min-width: 1600px) {
    .main-image {
      height: 39rem;
    }

    .main-image img {
      width: 110%;
      height: 100%;
      object-fit: cover;
      transform: rotateZ(-5deg) translateY(-7rem) translateX(-1rem);
    }

  }  
  
  
  @media screen and (min-width: 2000px) {
    .main-image {
      height: 41rem;
    }

    .main-image img {
      width: 110%;
      height: 100%;
      object-fit: cover;
      transform: rotateZ(-5deg) translateY(-7rem) translateX(-1rem);
    }

  }   